# Excluir carpetas
/build
main/build/
main/certs/

# Excluir componentes gestionados por ESP-IDF
/managed_components/

# Archivos temporales de
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
mqttconn.h


# Archivos de entorno de ESP-IDF
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp

# Archivos generados por VSCode
.vscode/
*.code-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
